@font-face {
  font-family: titleFont;
  src: url('../assets/feast_of_flesh_bb/FEASFBRG.TTF');
}

body {
  background: #000;
  color: #a72;
}

h1, .title {
  font-family: titleFont;
  font-size: 40px;
}

.card {
  font-size: 80px;
  width: 640px;
  height: 400px;
  padding: 16px;
  border-radius: 16px;
  color: rgba(22,255,0,1);
  border: 16px solid rgba(255,204,0,0.5);
  background: rgba(255,204,0,0.25);
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
  text-shadow: 0 0 16px rgba(255,204,0,0.5);
  transition: background 1s, border-color 1s, text-shadow 1s;
  cursor:pointer;
}

.card:hover {
  border: 16px solid rgba(255,204,0,1);
  background: rgba(255,204,0,0.5);
  text-shadow: 0 0 16px rgba(0,0,0,0.7);
}

.accent1 {
  color: #ff6700;  
}

.accent2 {
  color: #ffc800;  
}

.divider {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 2px solid rgba(255,204,0,0.5);
}

.subtitle {
  font-size: 30px;
}

